Source: seastar
Section: misc
Priority: optional
Maintainer: compiv <compiv@tutanota.com>
Build-Depends:
 ninja-build,
 ragel, libhwloc-dev, libnuma-dev, libpciaccess-dev,
 libcrypto++-dev, libboost-all-dev, libxml2-dev, xfslibs-dev,
 libgnutls28-dev, liblz4-dev, libsctp-dev, gcc, make,
 libprotobuf-dev, protobuf-compiler, python3, systemtap-sdt-dev,
 libtool, cmake, libyaml-cpp-dev, libc-ares-dev, stow, g++-5
Homepage: https://github.com/scylladb/seastar

Package: seastar
Architecture: amd64
Depends:
 ragel, libhwloc-dev, libnuma-dev, libpciaccess-dev,
 libcrypto++-dev, libboost-all-dev, libxml2-dev, xfslibs-dev,
 libgnutls28-dev, liblz4-dev, libsctp-dev, gcc, make,
 libprotobuf-dev, protobuf-compiler, python3, systemtap-sdt-dev,
 libtool, cmake, libyaml-cpp-dev, libc-ares-dev, stow, g++-5
Description: High performance server-side application framework

