#!/usr/bin/make -f

SRCDIR = $(shell realpath .)/seastar
ROOTDIR = $(shell realpath .)/debian/tmp
ROOTDIR_DEBUG = $(shell realpath .)/debian/tmp_debug

build-indep:
build-arch:
	cd $(SRCDIR); sh ../debian/scripts/before_configure.sh
	cd $(SRCDIR); sh ../debian/scripts/build_seastar.sh
build: build-indep build-arch

binary-indep:
binary-arch:
	mkdir -p $(ROOTDIR)/DEBIAN
	mkdir -p $(ROOTDIR_DEBUG)
	cd $(ROOTDIR); \
		SRCDIR=$(SRCDIR) ROOTDIR=$(ROOTDIR) ROOTDIR_DEBUG=$(ROOTDIR_DEBUG) \
		sh ../scripts/install_seastar.sh
	dpkg-gencontrol -pseastar
	dpkg --build $(ROOTDIR) ..
binary: binary-indep binary-arch

clean:
	rm -rf $(ROOTDIR) $(ROOTDIR_DEBUG)

.PHONY: build-indep build-arch build binary-indep binary-arch binary clean

